<section>
    <div class="col-sm-11 panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">clientsCtrl.client.profile.displayName</h3>
        </div>
        <div class="panel-body">
            <table class="table table-user-information">
                <tbody>
                <tr>
                    <td>Department:</td>
                    <td>Programming</td>
                </tr>
                <tr>
                    <td>Hire date:</td>
                    <td>06/23/2013</td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td>01/24/1988</td>
                </tr>

                <tr>
                <tr>
                    <td>Gender</td>
                    <td>Male</td>
                </tr>
                <tr>
                    <td>Home Address</td>
                    <td>Metro Manila,Philippines</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><a href="mailto:info@support.com">info@support.com</a></td>
                </tr>
                <td>Phone Number</td>
                <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                </td>

                </tr>

                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <a ng-click="clientsCtrl.remove(clientsCtrl.client)"><i class="fa fa-trash"></i></a>
        </div>
    </div>


</section>
